html {
  --font-body: "Nanum Myeongjo", serif;
  --font-header: "Oswald", sans-serif;
  --font-button: "Jost", sans-serif;
  --text-color: rgb(245, 245, 245);
  --accent-color: seagreen;
  --color-grey-100: rgb(236, 236, 236);
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-600: rgb(58, 58, 58);
  --color-grey-800: rgb(41, 41, 41);
}
body {
  font-family: var(--font-body);
  margin: 0;
  /* background: linear-gradient(30deg, --color-grey-400, --color-grey-600); */
  background: linear-gradient(90deg, rgb(236, 236, 236), rgb(134, 134, 134));
  color: var(--color-grey-800);
  height: min(1vh);
  margin: 2rem;
}

.display {
  border: 1px solid orange;
  height: min(40rem);
  width: min(40rem);
  color: white;
  padding: 1rem;
}

h1 {
  color: var(--accent-color);
  font-family: var(--font-header);
  margin: auto;
}

h2 {
  color: var(--accent-color);
  font-family: var(--font-header);
}

#formbox {
  width: 800px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  border: 2px solid green;
  padding: 1rem;
  gap: 1rem;
}

.green {
  background-color: lightgreen;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

#remaining {
  font-family: var(--font-button);
}
